<form #myForm = "ngForm" (ngSubmit)="submitForm(myForm)">
    <h1>When?</h1>
    <div>
      <p>I'm available these days:</p>
      <input type="checkbox" [(ngModel)]="user.availability.mondayDay" name="Monday">
      <label>Mon</label>
      <input type="checkbox" [(ngModel)]="user.availability.tuesdayDay" name="Tuesday">
      <label>Tue</label>
      <input type="checkbox" [(ngModel)]="user.availability.wednesdayDay" name="Wednesday">
      <label>Wed</label>
      <input type="checkbox" [(ngModel)]="user.availability.thursdayDay" name="Thrusday">
      <label>Thu</label>
      <input type="checkbox" [(ngModel)]="user.availability.fridayDay" name="Friday">
      <label>Fri</label>
      <input type="checkbox" [(ngModel)]="user.availability.saturdayDay" name="Saturday">
      <label>Sat</label>
      <input type="checkbox" [(ngModel)]="user.availability.sundayDay" name="Sunday">
      <label>Sun</label>
    </div>
    <div>
      <p>I'm available these nights:</p>
      <input type="checkbox" [(ngModel)]="user.availability.mondayNight" name="Monday">
      <label>Mon</label>
      <input type="checkbox" [(ngModel)]="user.availability.tuesdayNight" name="Tuesday">
      <label>Tue</label>
      <input type="checkbox" [(ngModel)]="user.availability.wednesdayNight" name="Wednesday">
      <label>Wed</label>
      <input type="checkbox" [(ngModel)]="user.availability.thursdayNight" name="Thursday">
      <label>Thu</label>
      <input type="checkbox" [(ngModel)]="user.availability.fridayNight" name="Friday">
      <label>Fri</label>
      <input type="checkbox" [(ngModel)]="user.availability.saturdayNight" name="Saturday">
      <label>Sat</label>
      <input type="checkbox" [(ngModel)]="user.availability.sundayNight" name="Sunday">
      <label>Sun</label>
    </div>
    <div class="form-group actions">
      <label for="submit"> </label>
      <button id="submit" name="submit">Save</button>
    </div>
  </form>