<md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a routerLink="/profile" md-menu-item>
      <span>Profile Info</span>
    </a>
    <a routerLink="/contact-details" md-menu-item>
      <span>Contact Details</span>
    </a>
    <a routerLink="/credentials" md-menu-item>
      <span>Credentials</span>
    </a>
    <a routerLink="/availability" md-menu-item>
      <span>Availability</span>
    </a>
    <a routerLink="/experience" md-menu-item>
      <span>Experience</span>
    </a>
  </md-menu>
  <!-- <span class=" text">Hi {{user.firstName}}!</span> -->
</md-toolbar>

