<md-toolbar color="primary">
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <span>Profile Info</span>
    </button>
    <button md-menu-item>
      <span>Contact Details</span>
    </button>
    <button md-menu-item>
      <span>Credentials</span>
    </button>
    <button md-menu-item>
      <span>Availability</span>
    </button>
    <button md-menu-item>
      <span>Experience</span>
    </button>
  </md-menu>
  <span class=" text">Hi {{user.firstName}}!</span>
</md-toolbar>

